.login-section {
    background: url('../../img/common-section-bg.webp') top/cover no-repeat local ;
}

.login-card {
    width: 100%;
    box-shadow: 0 4px 21.36px 2.64px rgba(25,38,62,.11);
}

.confirmDiv {
    float: right;
    color: #687693;
    font-size: 0.8999rem;
}

.confirmDiv a {
    color: #FC6E36;
}

.confirmDiv a:hover {
    color: #007BFF;
}